.signin-form,
.signup-form {
	width: 20rem;
	max-width: 90%;
	margin: auto;
	display: block;
}

.signin-google {
	margin-left: 2rem;
}

.signin-btns {
	display: flex;
	justify-content: space-between;
}

.user-message {
	margin: auto;
	width: 90%;
	border: 1px solid #4771fa;
	padding: 0.5rem;
	border-radius: 3px;
	background: #b9c9ff;
	text-align: center;
}

.user-message--error {
	border-color: red;
	background: #ffeb3b;
	color: red;
}
